/* :root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
} */

:root {
  --main-padding: 0.5em;
  --error-color: red;
  --success-color: green;
  /* --sl-focus-ring-width: 1px;
  --sl-focus-ring: 0 0 0 var(--sl-focus-ring-width) #1d69b9; */
}

*,
:root,
:host {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 14px;
}


html, body {
  height: 100%;
  /* position: relative; */
}

.sl-toast-stack {
  position: absolute;
  display: flex;
  gap: var(--main-padding);
  flex-direction: column-reverse;
  top: auto;
  bottom: 1em;
  right: 1em;
 
}
.sl-toast-stack > * {
  height: auto;
  flex: 1;
  transition: all 250ms linear
}
main-app {
  display: block;
  padding: var(--main-padding);
  width: 100%;
  height: 100%;
}
